@{
    ViewData["Title"] = "Crossovers";
}
<h1 style="text-align: center">@ViewData["Title"]</h1>

<p style="text-align: center; font-family: Arial; font-size:larger">
    Um crossover é a colocação de dois ou mais personagens, cenários ou universos de ficção distintos no contexto de uma única história.
    Eles podem surgir de acordos legais entre os detentores de direitos autorais relevantes, esforços não autorizados de fãs ou propriedade corporativa em comum.
</p>

<div class="row">
    <div class="col">
        <h3 style="text-align: center">Flash vs Arqueiro</h3>

        <div class="card" style="width: 40%;">
            <img class="card-img-top;" src="~/imagens/Flarrow1.jpg" alt="123 milhas" />
            <div class="card-body">
                <h5 class="card-title" style="text-align:center">Arrow Temporada 4 - Ep.8 <br /> The Flash Temporada 2 - Episódio 8</h5>
            </div>
        </div>

        <p style="text-align:justify; font-family:Arial; font-size:larger">
            Em Central City, um meta-humano que usa as emoções das pessoas para roubar bancos,
            e faz o Flash ficar contra o Arrow. Então, em Starling City, os dois heróis enfrentam o Capitão Bumerangue.
        </p>
    </div>

    <div class="col">
        <h3 style="text-align: center">Heróis Juntando Forças</h3>

        <div class="card" style="width: 40%;">
            <img class="card-img-top;" src="~/imagens/juntandoForcas.jpg" alt="123 milhas" />
            <div class="card-body">
                <h5 class="card-title" style="text-align:center; color: black">Arrow Temporada 3 - Episódio 8 <br /> The Flash Temporada 1 - Episódio 8</h5>
            </div>
        </div>

        <p style="text-align:justify; font-family:Arial; font-size:larger">
            O Flash e o Arqueiro Verde se juntam para derrubar Vandal Savage, que está procurando por Kendra Saunders e Carter Hall,
            as reencarnações da Mulher-Gavião e do Gavião Negro. Embora Legends of Tomorrow não faça parte efetivamente do crossover de 2015-16,
            os episódios de Arrow e The Flash deste evento estrelam uma série de personagens que se repetem na série.
        </p>
    </div>

    <div class="col">
        <h3 style="text-align: center">Os Melhores do Mundo</h3>

        <div class="card" style="width: 40%;">
            <img class="card-img-top;" src="~/imagens/MelhoresdoMundo.jpg" alt="123 milhas" />
            <div class="card-body">
                <h5 class="card-title" style="text-align:center; color: black">Supergirl Temporada 1 - Episódio 18</h5>
            </div>
        </div>

        <p style="text-align:justify; font-family:Arial; font-size:larger">
            Flash atravessa uma fenda extra dimensional enquanto testa o acelerador de táquions, entrando no universo da Supergirl e do Superman.
            Ele se junta com a Supergirl para derrotar a Curto-Circuito e a Banshee Prateada, após isso, Supergirl o ajuda a retornar para seu univerrso.
            Embora não seja oficialmente parte do crossover, "Versus Zoom", o décimo oitavo episódio da segunda temporada de The Flash, apareceu Barry entrando
            e saindo da violação à Terra-38 entre dois momentos.
        </p>
    </div>
</div>

<div class="row">
    <br /><br />
    <h3 style="text-align: center">Invasão!</h3>
    <div class="col">
        <div class="card" style="width: 100%;">
            <img class=" card-img-top ;img-fluid" src="~/imagens/invasao.jpg" alt="123 milhas" />
            <div class="card-body">
                <h5 class="card-title" style="text-align:center; color: black">Arrow Temporada 5 - Episódio 18 <br />The Flash Temporada 3 - Episódio 8 <br />Lendas do Amanhã Temporada 2 - Episódio 7</h5>
            </div>
        </div>
    </div>

    <div class="col">
        <p style="text-align:justify; font-family:Arial; font-size:larger">
            Quando a raça alienígena conhecida como "Dominadores" ataca Central City, Barry Allen procura a ajuda de Oliver Queen para detê-los.
            Eles rapidamente percebem que a ameaça é maior do que podem lidar, e decidem chamar as Lendas, também recrutando Kara Danvers em sua Terra.
            Com todos os heróis reunidos, um plano é feito para derrotar os Dominadores, mas acabam se distraindo quando um segredo relacionado ao "Ponto de Ignição"
            é revelado, forçando o time a duvidar sobre quem eles podem confiar. Com a ajuda dos outros, Martin Stein finalmente descobre uma maneira de derrotar os
            Dominadores. Além disso, Oliver acorda em uma vida onde ele nunca esteve preso em uma ilha, em que seus pais, Robert e Moira, estão vivos, e Laurel Lance
            é sua noiva. No entanto, Oliver começa a perceber imperfeições nesta nova realidade, o que o faz questioná-la. Enquanto isso, Martin Stein se distrai com
            uma aberração que criou em 1987.
        </p>
    </div>
</div>

<div class="row">
    <br /><br />
    <h3 style="text-align: center">Duet</h3>

    <div class="col">
        <div class="card" style="width: 100%;">
            <img class="img-fluid" src="~/imagens/DuetoKara.jpg" alt="123 milhas" />
        </div>
    </div>

    <div class="col">
        <p style="text-align:justify; font-family:Arial; font-size:larger">
            Com dois heróis acamados e um supervilão à solta e com os poderes de ambos Flash e Supergirl, acompanhamos Barry em um sonho absurdo onde
            ele se vê fazendo parte de um musical nos anos 30, onde ele e Kara não possuem poderes e trabalham para o mafioso Cutter Moran.
        </p>
        <p style="text-align:justify; font-family:Arial; font-size:larger">
            Um crossover musical entre The Flash e Supergirl, onde o Flash e a Supergirl encaram Music Meister.
            O final do episódio "Star-Crossed" de Supergirl começa o crossover musical que principalmente ocorre durante "Duet".
        </p>
        <h5 class="card-title" style="text-align:center">The Flash Temporada 3 - Episódio 17 </h5>
    </div>

    <div class="col">
        <div class="card" style="width: 100%;">
            <img class="img-fluid" src="~/imagens/DuetoBarry.jpg" alt="123 milhas" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <br /><br />
        <h3 style="text-align: center">Crise na Terra-X</h3>

        <p style="text-align:justify; font-family:Arial; font-size:larger">
            Os amigos de Barry Allen e Iris West vão a Central City para comparecer ao seu casamento, somente para o evento ser interrompido por vilões da Terra-X. Embora Freedom Fighters:
            The Ray não tenha um episódio como parte do crossover de 2017–18, a série mais tarde explora The Ray, Terra-X, e outros personagens e conceitos vistos em "Crisis on Earth-X"
        </p>

        <div class="card" style="width: 70%;">
            <img class="card-img-top;" src="~/imagens/TerraX.jpg" alt="123 milhas" />
            <div class="card-body">
                <h5 class="card-title;" style="text-align:center; color: black">Supergirl Temporada 3 - Episódio 8 <br />Arrow Temporada 6 - Episódio 8 <br />The Flash Temporada 4 - Episódio 8 <br />Lendas do Amanhã Temporada 3 - Episódio 8</h5>
            </div>
        </div>
    </div>

    <div class="col">
        <br /><br />
        <h3 style="text-align: center">Elseworlds</h3>

        <p style="text-align:justify; font-family:Arial; font-size:larger">
            O doutor John Deegan, do Asilo Arkham, reescreve a realidade, a qual resulta em Oliver Queen e Barry Allen trocarem de vidas.
            Na nova realidade, eles são os únicos que sabem que algo está errado em suas vidas e possuem os poderes do outro, o que leva eles irem a Gotham City
            com a Kara Danvers / Supergirl confrontar Deegan. As personagens Batwoman, Nora Fries, Lois Lane, o Monitor e Pirata Psíquico são também introduzidos
            no Universo Arrow no crossover, que também estrela o retorno do Superman.
        </p>

        <div class="card" style="width: 70%;">
            <img class="card-img-top;" src="~/imagens/Elseworlds.jpg" alt="123 milhas" />
            <div class="card-body">
                <h5 class="card-title;" style="text-align:center; color: black">The Flash Temporada 5 - Episódio 9 <br />Arrow Temporada 7 - Episódio 9 <br />Supergirl Temporada 4 - Episódio 9</h5>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<div class="row">

    <h3 style="text-align: center">Crise nas Infinitas Terras</h3>


    <div class="col">
        <p style="text-align:justify; font-family:Arial; font-size:larger">
            Uma poderosa ameaça alienígena empurra Barry Allen e o Team Flash aos seus limites, exigindo a ajuda de seus aliados para salvar o mundo.
            O evento ocorrerá nos primeiros cinco episódios da oitava temporada de The Flash, com vários atores do Arrowverse reprisando seus papéis,
            incluindo Javicia Leslie como Ryan Wilder / Batwoman, Brandon Routh como Ray Palmer / Atom, Cress Williams como Jefferson Pierce / Black Lightning,
            Chyler Leigh como Alex Danvers / Sentinela, Kat McNamara como Mia Queen / Arqueira Verde, Osric Chau como Ryan Choi, Tom Cavanagh como Eobard Thawne
            / Flash Reverso e Neal McDonough como Damien Darhk.
        </p>
        <p> <i>Tem uma página especial contando como esse crossover foi importantissimo para o Arrowverso</i></p>

    </div>
    <div class="card" style="width: 100%;">
        <img class="card-img-top; img-fluid;" src="~/imagens/banner.jpg" alt="123 milhas" />
        <div class="card-body">
            <h5 class="card-title" style="text-align:center; color: black">Supergirl Temporada 5 - Episódio 9 <br />Batwoman Temporada 1 - Episódio 9 <br />The Flash Temporada 6 - Episódio 9<br />Arrow Temporada 8 - Episódio 8<br />Lendas do Amanhã Temporada 5 - Episódio especial </h5>
        </div>
    </div>
</div>
