@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Arrowverso</h1>
</div>

<div class="row" style="font-size:larger">
    <p style="text-align: center; font-family:Arial">
        Baseado nos personagens da DC Comics, o Arrowverso é uma franquia de televisão.
    </p>
    <div class="col">
        <br /><br />
        <p style="text-align: justify; font-family:Arial">
            O canal americano The CW começou a exibir Arqueiro em 2012. Devido ao seu sucesso, o universo foi expandido com Flash.
            Com o multiverso introduzido, isto abriu portas para novos territórios, com diversas séries da DC acontecendo no multiverso e,
            eventualmente, se encontrando em crossovers anuais. No Brasil, as séries são exibidas na Warner Channel, HBO e Netflix.
        </p>
        <p style="text-align: justify; font-family:Arial">
            Em 2019, o Arrowverso (Universo Arrow) teve o seu maior crossover, Crise nas Infinitas Terras.
            Com todas a existência de toda a vida em perigo, sete paragons e Oliver Queen, agora o Espectro,
            enfrentaram a batalha de suas vidas para reiniciar o multiverso.
        </p>

        <p style="text-align: justify; font-family:Arial">
            A franquia começou em Arrow, baseado no personagem Arqueiro Verde, que estreou em outubro de 2012.
            Seguiu-se em The Flash em 2014, e na websérie animada Vixen em 2015. Matt Ryan reprisou seu papel como John Constantine da série em
            live-action Constantine do canal NBC de 2014 em aparições como convidado em episódio de Arrow e Legends of Tomorrow,
            antes de se tornar um personagem regular, na última, além de continuar as histórias da série anterior.
        </p>
        <p style="text-align: justify; font-family:Arial">
            A franquia foi expandida ainda mais em 2016, quando em janeiro de naquele ano, uma nova série intitulada Legends of Tomorrow
            (Lendas do Amanhã) foi lançada, estrelando personagens que originalmente apareceram em Arrow e The Flash.
            Mais tarde naquele ano, a série Supergirl estreou na CBS, já tendo um crossover com The Flash,
            foi transferida para a The CW para sua segunda temporada, onde permaneceu desde então.
        </p>
        <p style="text-align: justify; font-family:Arial">
            Uma segunda websérie animada, Freedom Fighters: The Ray, foi lançada em 2017, seguida por Ray Terrill / The Ray, que faria uma aparição
            live-action durante o evento crossover daquele ano, "Crise na Terra-X".

        </p>
        <p style="text-align: justify; font-family:Arial">
            Além das séries live-actions e das webséries, a franquia gerou três séries promocionais
            live-action na web Blood Rush, Chronicles of Cisco e The Flash: Stretched Scenes foram lançadas em 2013, 2016 e 2017, respectivamente.
            Uma outra série, Black Lightning, estreou em 2018, e Batwoman, estreou em 2019. Desde 2014, tem ocorrido
            um evento anual de crossover envolvendo muitas das séries live-action do Universo Arrow
        </p>
    </div>
    <div class="col">
        <img class="card-img-top;" src="~/imagens/posterIfinitasTerras.jpg" alt="123 milhas" sstyle="border: 10px, 10px, 10px, 10px" ; />
    </div>
</div>