@{
	ViewData["Title"] = "Como fica o futuro do Arrowverso após Crise nas Infinitas Terras?";
}
<div class="text-center">
	<h1>@ViewData["Title"]</h1>
</div>
<br />
<p style="text-align: justify; font-family:Arial; font-size:larger">
	A CW passou vários anos se preparando para o ambicioso crossover que basicamente
	começou com a cena final no piloto de The Flash, prenunciando a rede adaptando a icônica história da DC. Pouco foi compartilhado sobre os episódios
	restantes de todas as temporadas dos programas.
</p>

<p style="text-align: justify; font-family:Arial; font-size:larger">
	Mas o que os produtores executivos deixaram claro é que Crise nas Infinitas Terras
	trata de mudar o status quo dessas séries.
</p>

<p style="text-align: justify; font-family:Arial; font-size:larger">
	Da mesma forma que os quadrinhos de 1985 nos quais o crossover se baseia,
	os programas da DC evoluirão, o que permite que o Arrowverso estenda sua longevidade. Enquanto alguns dos crossovers mantiveram os programas
	um pouco conectados pelo resto das temporadas, desta vez será diferente.
</p>

<p style="text-align: justify; font-family:Arial; font-size:larger">
	A CW já revelou partes de seus planos sobre como será o futuro do Arrowverso
	após a Crise nas Infinitas Terras – e será muito diferente.
</p>

<div class="img" style="width: 60%; justify-content: center;">
	<img src="https://static3.srcdn.com/wordpress/wp-content/uploads/2019/11/Green-Arrow-and-the-Canaries.jpg?q=50&fit=crop&w=740&h=370" style="justify-content: center;" />
</div>
<br />

<h2 style="text-align: center">A formação do Arrowverso será diferente</h2>

<div class="row">
	<p style="text-align: justify; font-family:Arial; font-size:larger">
		Arrow, que iniciou o enorme universo interconectado da DC na TV, fechará as cortinas na terça-feira, 28 de janeiro, com o final da série.
		Mas antes que a série termine, criará um derivado projetado para manter o Arqueiro Verde ativo no Arrowverso.
	</p>

	<p style="text-align: justify; font-family:Arial; font-size:larger">
		Green Arrow and the Canaries chegará na terça-feira, 21 de janeiro, com seu piloto, que se concentrará em estabelecer Mia Queen (Kat McNamara) como a nova Arqueira Verde.
		A sinopse do nono episódio da oitava temporada mostra como Mia se reúne com Laurel Lance (Katie Cassidy) e Dinah Drake (Juliana Harkavy) enquanto montam sua equipe.
	</p>

	<p style="text-align: justify; font-family:Arial; font-size:larger">
		Embora pouco se saiba sobre a série de Superman e Lois, o piloto já está começando a lançar seu grupo de personagens, incluindo dois adolescentes
		misteriosos que serão os principais atores.
	</p>

	<p style="text-align: justify; font-family:Arial; font-size:larger">
		Com a formação dos programas do Arrowverso mudando, a CW também já se comprometeu com as novas temporadas de The Flash, Supergirl, Legends of Tomorrow, Batwoman e Raio Negro.
		Antes da retomada do crossover, a CW foi em frente e renovou todos os seus programas da DC, juntamente com outras 8 séries para a temporada de 2020 e 2021.
	</p>

	<p style="text-align: justify; font-family:Arial; font-size:larger">
		Embora nem Green Arrow and the Canaries nem Superman e Lois tenham sido oficialmente escaladas para se juntar à rede,
		as chances são muito altas de que a CW encomende as séries para abril ou maio.
	</p>
</div>
<div class="img" style="width: 60%; justify-content: center;">
	<img src="https://static3.srcdn.com/wordpress/wp-content/uploads/2020/01/Crisis-On-Infinite-Earths-Spectre-Poster-Featured-Image.jpg?q=50&fit=crop&w=740&h=370" style="justify-content: center;" />
</div>
<br />

<h2 style="text-align: center">Crise nas Infinitas Terras mescla mundos e histórias</h2>


<div class="row">
	<p style="text-align: justify; font-family:Arial; font-size:larger">
Como a Terra-38, a Terra-1 e o mundo de Jefferson Pierce (Cress Williams) foram destruídos, nenhum dos heróis restantes 
tem um mundo para viver fora do Ponto de Fuga. Mas com as duas horas restantes do crossover estão programadas para desfazer o que o Anti-Monitor fez, 
então as coisas parecerão boas para os heróis da DC no final – com uma reviravolta.
</p>

<p style="text-align: justify; font-family:Arial; font-size:larger">
A base da história em quadrinhos era sobre a fusão de mundos em um para facilitar o foco da DC Comics em sua principal continuidade.
O mesmo deve acontecer com o Arrowverso, pois sinopses de episódios para Supergirl e Raio Negro indicam que o status quo de seus respectivos mundos está para mudar.
</p>
<p style="text-align: justify; font-family:Arial; font-size:larger">
No primeiro episódio pós-Crise de Supergirl, a sinopse indica Kara sendo forçada a enfrentar uma ameaça caótica devido às “complicações subsequentes da Crise”.
Enquanto isso, a sinopse do episódio de Raio Negro prenuncia Jefferson navegando “em sua nova realidade após os eventos da Onda Vermelha”.
</p>

<p style="text-align: justify; font-family:Arial; font-size:larger">
Isso por si só confirma que Kara, Jefferson e os personagens de seus programas existirão no mesmo mundo que Barry Allen (Grant Gustin), Sara Lance (Caity Lotz),
Kate Kane (Ruby Rose) e o resto de sua liga de super-amigos. Enquanto todos os programas continuarão com suas respectivas histórias da temporada, Crise nas Infinitas 
Terras ainda continuará sendo exibido devido às novas mudanças – principalmente em The Flash.
</p>
</div>

<div class="img" style="width: 60%; justify-content: center;">
	<img src="https://static3.srcdn.com/wordpress/wp-content/uploads/2019/11/Arrowverse-Crisis-Infinite-Earths-Full-Cast-Supergirl.jpg?q=50&fit=crop&w=740&h=370" style="justify-content: center;" />
</div>

<br />

<h2 style="text-align: center">O Arrowverso está entrando em uma nova fase</h2>


<div class="row">
	<p style="text-align: justify; font-family:Arial; font-size:larger">
O Arrowverso se apegou a muitas bases consistentes de como as temporadas das séries são executadas. Desde suas estruturas de seguir um “grande mal” até a
criação de eventos anuais de crossover, o Arrowverso permaneceu consistente por mais de 7 anos.
</p>

<p style="text-align: justify; font-family:Arial; font-size:larger">
No entanto, aderir a algo sem alterações significativas pode prejudicar uma franquia de vários programas como o Arrowverso. É por isso que os produtores
por trás das séries em andamento estão usando Crise nas Infinitas Terras como uma oportunidade de sair de uma fase e entrar em uma nova.
</p>

<p style="text-align: justify; font-family:Arial; font-size:larger">
Com dois derivados em andamento e todos os programas atuais renovados, a CW está se comprometendo a mais anos no ramo de TV da DC. Mas com os grandes 
efeitos que a Crise nas Infinitas Terras tem, não apenas prolongará a vida útil do Arrowverso, mas também ajudará a reformulá-lo.
</p>

<p style="text-align: justify; font-family:Arial; font-size:larger">
Embora seja improvável que a ordem dos 22 episódios (ou 16 no caso de Raio Negro e Legends of Tomorrow) mude em breve, isso não significa que as
estruturas da história não mudem. The Flash já começou a tirar vantagem disso antes da Crise, com o novo produtor, Eric Wallace, dividindo a temporada em um 
formato que faz parecer dois romances gráficos.
</p>

<p style="text-align: justify; font-family:Arial; font-size:larger">
A segunda metade da sexta temporada terá um novo grande problema que não está conectado à saga Bloodwork. Algo assim é possível nos outros quatro programas e
nos dois novos que estão em andamento.
</p>

<p style="text-align: justify; font-family:Arial; font-size:larger">
Mesmo a adição de Stargirl do DC Universe na CW pode significar um novo capítulo no Arrowverso se a série liderada por heróis adolescentes se conectar de alguma forma à franquia.
</p>
</div>

<div class="img" style="width: 60%; justify-content: center;">
	<img src="https://static0.srcdn.com/wordpress/wp-content/uploads/2020/01/Supergirl-Crisis-Part-1.jpg?q=50&fit=crop&w=740&h=370" style="justify-content: center;" />
</div>

<br />

<h2 style="text-align: center">Qual seria o próximo grande crossover do Arrowverso?</h2>


<div class="row">
	<p style="text-align: justify; font-family:Arial; font-size:larger">
Enquanto Crise nas Infinitas Terras será o maior, mais caro e ambicioso crossover de todos os tempos, os espectadores já estão olhando para o futuro de como serão os eventos.
A CW não vai parar de fazer crossovers – seria estranho que a rede não aproveitasse para reunir todos os programas pelo menos uma vez por ano.
</p>

<p style="text-align: justify; font-family:Arial; font-size:larger">
No entanto, o produtor executivo de longa data do Arrowverso, Marc Guggenheim, deixou claro que, enquanto eles já estão discutindo o próximo crossover, o tamanho dele estará mudando.
Com a equipe criativa e o elenco diminuindo um pouco, pode significar apenas alguns dos programas envolvidos.
</p>

<p style="text-align: justify; font-family:Arial; font-size:larger">
Poderia ser semelhante a Elseworlds, onde apenas Arrow, The Flash e Supergirl se reuniram enquanto Legends of Tomorrow não participou. 
Mesmo que todos os programas se unissem, as histórias podem ser menores se comparadas aos 4 eventos anteriores.
</p>

<p style="text-align: justify; font-family:Arial; font-size:larger">
Mas apenas porque os crossovers podem ser pequenos no futuro próximo, isso não significa que algo em um nível de escala da Crise nas Infinitas Terras não possa 
acontecer novamente nos próximos anos.
</p>
</div>