@{
	ViewData["Title"] = "Séries do Arrowverso";
}
<div class="text-center">
	<h1>@ViewData["Title"]</h1>
</div>
<br />
<br />
<p style="text-align: justify; font-family:Arial; font-size:larger">
	A franquia começou em Arrow, baseado no personagem Arqueiro Verde, que estreou em outubro de 2012.
	Seguiu-se em The Flash em 2014, e na websérie animada Vixen em 2015. Matt Ryan reprisou seu papel como John Constantine da série em
	live-action Constantine do canal NBC de 2014 em aparições como convidado em episódio de Arrow e Legends of Tomorrow, antes de se tornar
	um personagem regular, na última, além de continuar as histórias da série anterior. A franquia foi expandida ainda mais em 2016,
	quando em janeiro de naquele ano, uma nova série intitulada Legends of Tomorrow foi lançada, estrelando personagens que originalmente
	apareceram em Arrow e The Flash. Mais tarde naquele ano, a série Supergirl estreou na CBS, já tendo um crossover com The Flash,
	foi transferida para a The CW para sua segunda temporada, onde permaneceu desde então. Uma segunda websérie animada,
	Freedom Fighters: The Ray, foi lançada em 2017, seguida por Ray Terrill / The Ray, que faria uma aparição live-action durante o evento
	crossover daquele ano, "Crise na Terra-X". Além das séries live-actions e das webséries, a franquia gerou três séries
	promocionais live-action na web Blood Rush, Chronicles of Cisco e The Flash: Stretched Scenes foram lançadas em 2013, 2016 e 2017,
	respectivamente. Uma outra série, Black Lightning, estreou em 2018,
	e Batwoman, estreou em 2019. Desde 2014, tem ocorrido um evento anual de crossover envolvendo muitas das séries live-action do Universo Arrow.
</p>

<h2 style="text-align: center"> Arrow (Arqueiro Verde) 2012-2020</h2>
<div class="row">
	<div class="col">
		<br /><br /><br /><br />
		<p style="text-align:justify; font-family:Arial; font-size:larger">
			O playboy bilionário Oliver Queen retorna para casa depois de ficar preso em uma ilha deserta por cinco anos.
			Após seu retorno à Starling City, Oliver reacende seus relacionamentos e passa suas noites caçando criminosos ricos como um vigilante encapuzado.
		</p>
	</div>
	<div class="col">
		<div class="card" style="width: 100%;">
			<img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/pt/thumb/8/8c/Arrow_logotipo.png/250px-Arrow_logotipo.png" alt="123 milhas" />
		</div>
	</div>
</div>

<br />
<br />
<h2 style="text-align: center"> The Flash 2014-Presente</h2>
<div class="row">
	<div class="col">
		<div class="card" style="width: 100%;">
			<img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/pt/thumb/d/dd/The_Flash_logo.png/250px-The_Flash_logo.png" alt="123 milhas" />
		</div>
	</div>
	<div class="col">
		<br /><br />
		<p style="text-align:justify; font-family:Arial; font-size:larger">
			Depois de testemunhar o assassinato sobrenatural de sua mãe, Barry Allen é levado pelo detetive Joe West e sua filha, Iris.
			Barry se torna um brilhante, mas socialmente desajeitado, investigador forense do Departamento de Polícia de Central City.
			Um mau funcionamento do acelerador de partículas, banhando centro da cidade com uma radiação durante uma tempestade, e Barry é atingido por um raio.
			Despertando depois de um coma, ele descobre que pode se mover em velocidades sobre-humanas. Barry promete usar seus dons para proteger Central City.
			Como o Flash, Barry também persegue o assassino de sua mãe, o Flash Reverso.
		</p>
	</div>
	
</div>

<br />
<br />
<h2 style="text-align: center"> Supergirl 2015-2021</h2>
<div class="row">
	<div class="col">
		<br /><br />
		<p style="text-align:justify; font-family:Arial; font-size:larger">
			Kara Zor-El foi mandada para a Terra, de Krypton, com 13 anos de idade, pelos seus pais, Zor-El e Alura.
			Krypton estava explodindo, e os pais de Kara a mandaram em uma nave espacial para a Terra após seu primo.
			Kara foi mandada para proteger seu primo, Kal-El, mas sua nave colidiu e foi parar na Zona Fantasma, onde permaneceu por 24 anos.
			No tempo que a nave aterrissou na Terra, Kal-El já havia crescido e se tornado o Superman. A série começa onze anos após,
			onde agora Kara possui 24 anos e está aprendendo a abraçar seus poderes e adotou a alcunha super heroica de "Supergirl".
		</p>
	</div>
	<div class="col">
		<div class="card" style="width: 100%;">
			<img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/pt/thumb/e/e2/Supergirl_logo.png/250px-Supergirl_logo.png" alt="123 milhas" />
		</div>
	</div>
</div>

<br />
<br />
<h2 style="text-align: center"> Legends of Tomorrow (Lendas dos Amanhã) 2016-2022</h2>
<div class="row">
	<div class="col">
		<div class="card" style="width: 100%;">
			<img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/pt/thumb/c/c7/Legends_of_Tomorrow_logo.png/250px-Legends_of_Tomorrow_logo.png" alt="123 milhas" />
		</div>
	</div>
	<div class="col">
		<br /><br />
		<p style="text-align:justify; font-family:Arial; font-size:larger">
			No ano de 2166, o vilão imortal Vandal Savage está prestes a conquistar sua vitória final —
			trazer o caos total e a destruição à humanidade. Enquanto o mundo sucumbe, o Mestre do Tempo Rip Hunter tenta resolver as coisas por conta própria.
			Para isso, ele viaja 150 anos no passado a fim de selecionar cuidadosamente um time de heróis e bandidos para parar esta ameaça iminente.
			Juntos, este time inesperado tenta parar um dos vilões mais formidáveis de todos os tempos,
			ao mesmo tempo em que aprendem não apenas a ser um time, mas também heróis.
		</p>
	</div>
	
</div>

<br />
<br />
<h2 style="text-align: center"> Black Lightning (Raio Negro) 2018-2021</h2>
<div class="row">
	<div class="col">
		<br /><br />
		<p style="text-align:justify; font-family:Arial; font-size:larger">
			Jefferson Pierce, que se aposentou de sua personalidade de super-herói, Raio Negro, há nove anos,
			depois de ver os efeitos que isso teve em sua família, é obrigado a se tornar um vigilante
			novamente quando o surgimento de uma gangue local chamada "Os 100" leva ao aumento do crime e da corrupção em sua comunidade.
		</p>
	</div>
	<div class="col">
		<div class="card" style="width: 100%;">
			<img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/pt/thumb/e/e5/Black_Lightning_logo.png/250px-Black_Lightning_logo.png" alt="123 milhas" />
		</div>
	</div>
</div>

<br />
<br />
<h2 style="text-align: center"> Batwoman 2019-2022</h2>
<div class="row">
	<div class="col">
		<div class="card" style="width: 100%;">
			<img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/pt/thumb/c/c3/Batwoman_TV_series_logo.png/250px-Batwoman_TV_series_logo.png" alt="123 milhas" />
		</div>
	</div>
	<div class="col">
		<br /><br />
		<p style="text-align:justify; font-family:Arial; font-size:larger">
			Kate Kane deve superar seus próprios demônios antes de ser capaz de proteger as ruas de Gotham como Batwoman e se tornando seu símbolo de esperança.
			A partir da segunda temporada, depois do avião de Kate misteriosamente colidir e é acreditado que ela está morta, Ryan Wilder assume o manto de Batwoman.
		</p>
	</div>
	
</div>