@{
	ViewData["Title"] = "Quem mais participou em Crise nas Infinitas Terras?";
}
<div class="text-center">
	<h1>@ViewData["Title"]</h1>
</div>

<div class="row">
	<p style="text-align: justify; font-family:Arial; font-size:larger">
		<br />
		O evento de crossover de 2019 "Crisis on Infinite Earths" incorporou várias propriedades da DC Entertainment ao multiverso do Universo Arrow, incluindo aquelas que já haviam sido estabelecidas em séries e crossovers anteriores. As novas propriedades que apareceram em "Crisis on Infinite Earths" incluíam:
		<br />
		<br />• <b>Batman (série de televisão de 1966 a 1968):</b> Burt Ward repete seu papel como um Dick Grayson idoso. Esta realidade é designada na Terra-66 no multiverso pré-crise.
		<br />• <b>Batman (filme de 1989):</b> Robert Wuhl repete seu papel como Alexander Knox. Esta realidade é designada na Terra-89 no multiverso pré-crise.
		<br />• <b>Smallville (série de televisão de 2001-2011):</b> Tom Welling e Erica Durance reprisam seus papéis como Clark Kent e Lois Lane, respectivamente. Esta realidade é designada na Terra-167 no multiverso pré e pós-crise.
		<br />• <b>Birds of Prey (série de televisão 2002–2003):</b> Ashley Scott e Dina Meyer reprisam seus papéis como Helena Wayne / Caçadora e Barbara Gordon / Oráculo, respectivamente. Esta realidade é designada na Terra-203 no multiverso pré-crise.
		<br />• <b>Superman Returns (filme de 2006):</b> Brandon Routh repete seu papel como Kal-El / Clark Kent / Superman, embora como uma versão envelhecida inspirada na história em quadrinhos O Reino do Amanhã. Esta realidade é designada na Terra-96 no multiverso pré e pós-crise.
		<br />• <b>Lanterna Verde (filme de 2011):</b> Esta realidade é designada na Terra-12 no multiverso pós-crise.
		<br />• <b>Universo Estendido DC (franquia de filmes; 2013-presente):</b> Ezra Miller repete seu papel como Barry Allen, embora seu universo não tenha sido designado.
		<br />• <b>Lucifer (série de televisão; 2016-presente):</b> Tom Ellis repete seu papel como Lúcifer Morningstar. Esta realidade é designada na Terra-666 no multiverso pré-crise.
		<br />• <b>Titans (série de televisão; 2018-presente):</b> Alan Ritchson, Curran Walters, Teagan Croft, Minka Kelly e Anna Diop aparecem em seus papéis como Henry "Hank" Hall / Rapina, Jason Todd / Robin, Rachel Roth, Dawn Granger / Columba, e Koriand'r / Kory Anders / Estelar, respectivamente, a partir de imagens de arquivo. Esta realidade é designada na Terra-9 no multiverso pré e pós-crise.
		<br />• <b>Swamp Thing (série de televisão de 2019):</b> Derek Mears aparece em seu papel como Alec Holland / Monstro do Pântano. Esta realidade é designada na Terra-19 no multiverso pós-crise.
		<br />• <b>Doom Patrol (série de televisão; 2019-presente):</b> April Bowlby, Diane Guerrero, Joivan Wade, Riley Shanahan e Matthew Zuk aparecem em seus papéis como Rita Farr, Jane, Victor "Vic" Stone / Ciborgue, Cliff Steele e Larry Trainor, respectivamente de imagens de arquivo.Esta realidade é designada na Terra-21 no multiverso pós-crise.
		<br />• <b>Stargirl (série de televisão; 2020-presente):</b> Brec Bassinger estreou como Courtney Whitmore / Stargirl, ao lado de Yvette Monreal como Yolanda Montez / Pantera II, Anjelika Washington como Beth Chapel / Doutora Meia-Noite II, e Cameron Gellman como Rick Tyler / Homem-Hora II de imagens de arquivo de Stargirl.Esta realidade é designada na Terra-2 no multiverso pós-crise.
	</p>
</div>